node_modules
.vs/Jobhunter07landingpagedesign.slnx/v18/DocumentLayout.json
.vs/Jobhunter07landingpagedesign.slnx/v18/DocumentLayout.backup.json
.vs/Jobhunter07landingpagedesign.slnx/v18/.wsuo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
